# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.so
000*
CLAUDE.md

.venv/
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

*.sqlite3
*.db

docker-compose.override.yml
docker-compose.local.yml

media/

static/
staticfiles/

*.log


.env
.venv
env.ini
.flaskenv


instance/
.webassets-cache
.python-version

.target/
.pytest_cache/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.coverage
.coverage.*
htmlcov/