pandas==3.0.0
langchain_openai==1.1.7
langchain==1.2.7
langchain-google-genai==4.2.0
matplotlib>3.9.0
django==6.0.3
grandalf==0.8
langgraph-checkpoint-postgres==3.0.5 
psycopg==3.3.3 
psycopg-pool==3.3.0
python-dotenv>=1.1.0

# Testing
locust>=2.32.0
pytest-django>=4.9.0
pytest-playwright>=0.5.0